<div class="container">
  <div class="center-container">
    <div class="lang">
      <span
        [ngClass]="currentLang === 'en' ? 'underline' : ''"
        (click)="changeLang('en')"
        >English</span
      >
      |
      <span
        [ngClass]="currentLang === 'es' ? 'underline' : ''"
        (click)="changeLang('es')"
        >Español</span
      >
    </div>
    <app-user-card></app-user-card>
    <hr />
    <app-projects></app-projects>
    <hr />
    <app-experience></app-experience>
  </div>
</div>
