<div>
  <h2>Proyectos</h2>

  <div
    class="project-container"
    (click)="goToLink('https://www.autosmotos.es/')"
  >
    <div class="project-image">
      <img src="/assets/images/autosmotos.jpg" alt="autosmotos" />
    </div>
    <div class="project-data">
      <h3>Autosmotos</h3>
      <div class="angular-logo">
        <img src="/assets/images/angular.png" alt="angular logo" />
      </div>
    </div>
  </div>

  <div class="project-container" (click)="goToLink('https://jogafantasy.com/')">
    <div class="project-image">
      <img src="/assets/images/joga.jpg" alt="joga" />
    </div>
    <div class="project-data">
      <h3>Joga</h3>
      <img src="/assets/images/react.png" alt="react logo" />
    </div>
  </div>

  <div
    class="project-container"
    (click)="goToLink('https://andres-game-catalog.netlify.app/')"
  >
    <div class="project-image">
      <img src="/assets/images/game-catalog.jpg" alt="game catalog" />
    </div>
    <div class="project-data">
      <h3>Catalogo de juegos</h3>
      <div class="angular-logo">
        <img src="/assets/images/angular.png" alt="angular logo" />
      </div>
    </div>
  </div>

  <div
    class="project-container"
    (click)="goToLink('https://andres-high-school-ngrx.netlify.app/')"
  >
    <div class="project-image">
      <img src="/assets/images/high-school.jpg" alt="high school" />
    </div>
    <div class="project-data">
      <h3>High School</h3>
      <div class="angular-logo">
        <img src="/assets/images/angular.png" alt="angular logo" />
      </div>
    </div>
  </div>

  <div
    class="project-container"
    (click)="goToLink('https://shopping-car-react-andres.netlify.app/')"
  >
    <div class="project-image">
      <img src="/assets/images/food-shop.jpg" alt="food shop" />
    </div>
    <div class="project-data">
      <h3>Tienda de vegetales</h3>
      <img src="/assets/images/react.png" alt="react logo" />
    </div>
  </div>
</div>
