<div>
  <h2>{{ "experience.title" | translate }}</h2>

  <div class="job-container mat-elevation-z6">
    <div class="job-title">
      <h2><a (click)="goToLink('https://www.linkedin.com/company/alaxatech/')">{{ "experience.alaxatech.title" | translate }}</a> | {{ "experience.alaxatech.role" | translate }} </h2>
      <span>{{ "experience.alaxatech.mode" | translate }}</span>
    </div>
    <p>- {{ "experience.alaxatech.description1" | translate }}</p>
    <p>- {{ "experience.alaxatech.description2" | translate }}</p>
    <p>- {{ "experience.alaxatech.description3" | translate }}</p>
    <p>- {{ "experience.alaxatech.description4" | translate }}</p>
  </div>

  <div class="job-container mat-elevation-z6">
    <div class="job-title">
      <h2><a (click)="goToLink('https://www.linkedin.com/company/applaudo/')">{{ "experience.applaudo.title" | translate }}</a> | {{ "experience.applaudo.role" | translate }} </h2>
      <span>{{ "experience.applaudo.mode" | translate }}</span>
    </div>
    <p>- {{ "experience.applaudo.description1" | translate }}</p>
    <p>- {{ "experience.applaudo.description2" | translate }}</p>
    <p>- {{ "experience.applaudo.description3" | translate }}</p>
    <p>- {{ "experience.applaudo.description4" | translate }}</p>
  </div>

  <div class="job-container mat-elevation-z6">
    <div class="job-title">
      <h2><a (click)="goToLink('https://www.linkedin.com/company/piston-posicion/')">{{ "experience.piston.title" | translate }}</a> | {{ "experience.piston.role" | translate }} </h2>
      <span>{{ "experience.piston.mode" | translate }}</span>
    </div>
    <p>- {{ "experience.piston.description1" | translate }}</p>
    <p>- {{ "experience.piston.description2" | translate }}</p>
    <p>- {{ "experience.piston.description3" | translate }}</p>
  </div>
</div>
