<div>
  <h2>{{ "experience.title" | translate }}</h2>

  <div class="job-container mat-elevation-z6">
    <div class="job-title">
      <h2>{{ "experience.alaxatech.title" | translate }}</h2>
      <span>{{ "experience.alaxatech.mode" | translate }}</span>
    </div>
    <p>- {{ "experience.alaxatech.description1" | translate }}</p>
    <p>- {{ "experience.alaxatech.description2" | translate }}</p>
  </div>

  <div class="job-container mat-elevation-z6">
    <div class="job-title">
      <h2>{{ "experience.applaudo.title" | translate }}</h2>
      <span>{{ "experience.applaudo.mode" | translate }}</span>
    </div>
    <p>- {{ "experience.applaudo.description1" | translate }}</p>
    <p>- {{ "experience.applaudo.description2" | translate }}</p>
    <p>- {{ "experience.applaudo.description3" | translate }}</p>
    <p>- {{ "experience.applaudo.description4" | translate }}</p>
  </div>

  <div class="job-container mat-elevation-z6">
    <div class="job-title">
      <h2>{{ "experience.unicomer.title" | translate }}</h2>
      <span>{{ "experience.unicomer.mode" | translate }}</span>
    </div>
    <p>- {{ "experience.unicomer.description1" | translate }}</p>
    <p>- {{ "experience.unicomer.description2" | translate }}</p>
    <p>- {{ "experience.unicomer.description3" | translate }}</p>
    <p>- {{ "experience.unicomer.description4" | translate }}</p>
  </div>

  <div class="job-container mat-elevation-z6">
    <div class="job-title">
      <h2>{{ "experience.joga.title" | translate }}</h2>
      <span>{{ "experience.joga.mode" | translate }}</span>
    </div>
    <p>- {{ "experience.joga.description1" | translate }}</p>
    <p>- {{ "experience.joga.description2" | translate }}</p>
  </div>
</div>
