<div>
  <h2>Experiencia</h2>

  <div class="job-container mat-elevation-z6">
    <div class="job-title">
      <h2>Frontend Developer / ALAXATECH</h2>
      <span>Peru - Remoto</span>
    </div>
    <p>
      - Development of an app for buying and selling vehicles using the Angular
      framework with Server Side Rendering for SEO.
    </p>
    <p>- Proficiency in the Scrum methodology.</p>
  </div>

  <div class="job-container mat-elevation-z6">
    <div class="job-title">
      <h2>Angular Developer / Applaudo Studios</h2>
      <span>San Salvador - Remoto</span>
    </div>
    <p>- Wireframe development using Draw.io.</p>
    <p>
      - Development of an app for password management and two-factor
      authentication using the Angular framework.
    </p>
    <p>
      - Development of an app to document the company's visual component library
      using the Angular framework (with Angular Material documentation as a
      reference).
    </p>
    <p>- Implementation of the Scrum methodology.</p>
  </div>

  <div class="job-container mat-elevation-z6">
    <div class="job-title">
      <h2>Angular Developer / Unicomer Group</h2>
      <span>San Salvador - Remoto</span>
    </div>
    <p>- Designing wireframes using Draw.io.</p>
    <p>
      - Development of a financial flow app for providing credits to clients
      using the Angular framework and NgRx for state management.
    </p>
    <p>- Integration of the app into a container using Docker.</p>
    <p>- Implementation of the Scrum methodology.</p>
  </div>

  <div class="job-container mat-elevation-z6">
    <div class="job-title">
      <h2>React Developer / Joga Fantasy</h2>
      <span>USA - Remoto</span>
    </div>
    <p>
      - Development of an app using React and React Hooks where you can create
      your own football team and play with them.
    </p>
    <p>- Implementation of the Scrum methodology.</p>
  </div>
</div>
